.root ul {
  list-style: disc;
  margin-left: 20px;
}

.root li {
  width: fit-content;
}

.root a {
  color: var(--link);
}

.root ol {
  list-style: decimal;
  margin-left: 29px;
}

.link {
  color: var(--black) !important;
}

.link:hover {
  color: var(--link) !important;
}

.link svg {
  display: none;
}

.link:hover svg {
  display: inline-block;
}

.code {
  width: calc(100vw - 32px);
  max-width: 100%;
  max-height: 600px;
  font-size: 14px;
}

@mixin media lg {
  .code {
    width: unset;
    max-width: 100%;
    max-height: 600px;
    font-size: 14px;
  }
}
