.root ul {
  list-style: disc;
  margin-left: 20px;
}

.root li {
  width: fit-content;
}

.root a {
  color: var(--link);
}

.root ol {
  list-style: decimal;
  margin-left: 29px;
}

.link {
  color: var(--black) !important;
}

.link:hover {
  color: var(--link) !important;
}

.link svg {
  display: none;
}

.link:hover svg {
  display: inline-block;
}
