.root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  min-height: 36px;
}

/* Loading */
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.root[data-loading='true'] {
  pointer-events: none;
}

.root[data-loading='true'] > span {
  display: none;
}

.root[data-loading='true']::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 50%;
  border-color: currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 0.5s infinite linear;
}
